body {
  background-color: ghostwhite;
}

.navbar-default {
  background-color:#FFF;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color:#FFF;
  color: #04bebd;
  border-bottom: 2px solid #04bebd;
}

